*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 92px;
  top: 493px;
  width: 400px;
  height: 276px;
	animation: revealHorizontal 1s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	clip: rect(0px,0px,300px,0px);
	z-index: 5;
}

.s3 {
	position: absolute;
  left: 206px;
  top: 619px;
  width: 45px;
  height: 45px;
	animation: bounceIn 0.5s;
	animation-delay: 1s;
	animation-fill-mode: both;
	z-index: 5;
}

@keyframes revealHorizontal {
  0% {
    clip: rect(0px,0px,300px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,400px,300px,0px);
	opacity: 1;
  }
}