*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 433px;
  top: 173px;
  width: 215px;
  height: 39px;
	animation: fadeInUp 0.5s;
	animation-delay: 1s;
	animation-fill-mode: both;
	display: none;
	z-index: 5;
}

.s3 {
	position: absolute;
  left: 132px;
  top: 400px;
  width: 25px;
  height: 25px;
	animation: zoomIn 0.5s;
	animation-delay: 1.2s;
	animation-fill-mode: both;	
	display: none;
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 152px;
  top: 325px;
  width: 299px;
  height: 206px;
	animation: revealHorizontal 1s;
	animation-delay: 1.4s;
	animation-fill-mode: both;
	clip: rect(0px,0px,210px,0px);
	display: none;
	z-index: 5;
}

.s5 {
	position: absolute;
  left: 396px;
  top: 413px;
  width: 32px;
  height: 121px;
	animation: revealVerticalUp 0.5s;
	animation-delay: 1.7s;
	animation-fill-mode: both;
	clip: rect(150px,50px,150px,0px);
	display: none;
	z-index: 5;
}

.s6 {
	position: absolute;
  left: 393px;
  top: 361px;
  width: 37px;
  height: 37px;
	animation: bounceIn 0.5s;
	animation-delay: 2s;
	animation-fill-mode: both;
	display: none;
	z-index: 5;
}

.s7 {
	position: absolute;
  left: 459px;
  top: 385px;
  width: 447px;
  height: 151px;
	animation: fadeInRight 0.5s;
	animation-delay: 2.3s;
	animation-fill-mode: both;
	display: none;
	z-index: 10;
}

.s8 {
	position: absolute;
  left: 275px;
  top: 220px;
  width: 531px;
  height: 73px;
	animation: zoomIn 0.5s;
	animation-delay: 3s;
	animation-fill-mode: both;
	display: none;
	z-index: 10;
}

.s9 {
	position: absolute;
  left: 208px;
  top: 601px;
  width: 664px;
  height: 24px;
	animation: fadeInDown 0.5s;
	animation-delay: 3.5s;
	animation-fill-mode: both;
	display: none;
	z-index: 15;
}

.c1 {
	position: absolute;
  left: 0px;
  top: 0px;
  width: 540px;
  height: 810px;
	z-index: 10;
}

.slideOutLeft {
	animation: slideOutLeft 2.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
}

.c2 {
	position: absolute;
  left: 539px;
  top: 0px;
  width: 541px;
  height: 810px;
	z-index: 10;
}

.slideOutRight {
	animation: slideOutRight 2.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
}

.c3 {
	position: absolute;
  left: 349px;
  top: 241px;
  width: 382px;
  height: 382px;
	animation: pulse 1s infinite;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 15;
}



@keyframes flipInXFlash {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 5deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -1deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -1deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
	opacity: 1;
  }
	70%, 80%, 90% {opacity: 0;}
	65%, 75%, 85%, 95% {opacity: 1;}
}

@keyframes fadeInDownSmall {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
    transform: translate3d(0, -20%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes revealHorizontal {
  0% {
    clip: rect(0px,0px,210px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,300px,210px,0px);
	opacity: 1;
  }
}

@keyframes revealVerticalUp {
  0% {
    clip: rect(150px,50px,150px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,50px,150px,0px);
	opacity: 1;
  }
}