.content-main-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: calc(71% - 38%);
}
.content-wrap {
  width: 98%;
  margin: 0 auto;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  }
  .secLogo{
    width: 52%;
    margin: 0 auto;
    margin-top: 83px;
  }
  .product-content{
    width: 37%;
    margin: 0 auto;
    padding-top: 87px;
  }
  .footer{
    position: absolute;
    width: 100%;
    bottom: -4px;
  }