.content-main-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: calc(100% - 50%);
}
.content-wrap {
    width: 98%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
  }
  .secLogo{
    width: 36%;
    margin: 0 auto;
    margin-top: 50px;
  }
  .left-side-img{
    width: 23%;
    margin: 0;
  }
  .center-img{
    width: 36%;
    margin: 0 0 0 6%;
  }
  .right-side-img{
    width: 23%;
  }
  .footer{
    position: absolute;
    width: 100%;
    bottom: -4px;
  }