*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 0px;
  top: 134px;
  width: 422px;
  height: 405px;
	animation: zoomIn 0.8s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	transform-origin: right;
	z-index: 5;
}

.s3 {
	position: absolute;
  left: 432px;
  top: 38px;
  width: 529px;
  height: 509px;
	animation: zoomIn 0.8s;
	animation-delay: 0.4s;
	animation-fill-mode: both;
	transform-origin: left;
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 62px;
  top: 341px;
  width: 575px;
  height: 401px;
	animation: zoomIn 0.8s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	transform-origin: right;
	z-index: 5;
}